/* p {
  color: blue;
  background-color: bisque;
} */

/* .parrafo {
  color: green;
} */

/* .primer-parrafo {
  background-color: blanchedalmond;
} */

#primer-parrafo-seccion-2 {
  color: red;
}

h1,
h2 {
  color: brown;
}
